<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged View</title>
    <link rel="stylesheet" type="text/css" href="/css/logged.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lemon&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <section class="header">
            <h1>Hola <%= userData.name %>, Welcome to SoundView 🎧 </h1>
            <button> Share with </button>
        </section>
        <section class="personal">
            <span class="foto">
                <% if (userData.image) { %>
                <img src="<%= userData.image[0].url %>" alt="Imagen de perfil">
                <% } else { %>
                <img src="/img/nn.png">    
                <% } %>
            </span>
            <span class="info">
                <h2>Name: <%= userData.name %></h2>
                <h2>Email: <%= userData.email %></h2>
                <h2>Spotify personal account: <%= userData.account %> </h2>
                <h2>Country: <%= userData.country%></h2>
                <h2>Followers: <%= userData.followers %> </h2>
            </span>
        </section>
        <section class="choose">
            <button id="artists"> Top Artists</button>
            <button id="songs"> Top Songs</button>
        </section>
        <section class="column_artist">
            <% artists.forEach(function(elemento,index){ %>
            <section class="file">
                <h1><%= index +1  %></h1>
                <span class="info_artist">
                    <h3>Name: <%= elemento.name %></h3>
                    <h3>Popularity: <%= elemento.popularity %></h3>
                    <h3>Genres: <%= elemento.genres[0] %></h3>
                </span>
                    <span class="art_foto">
                        <img src="<%= elemento.images[0].url %>" alt="">
                    </span>
            </section>
            <% }) %>
        </section>
        <section class="column_songs">

        </section>

    </main>
    <script type="module" src="/js/logged.js"></script>
</body>
</html>